{% extends "users/navbar.html" %}
{% block title %}CarGo - Services{% endblock title %}
{% block body %}
<style>
     body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }
    .business-card {
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      margin-bottom: 30px;
      padding: 20px;
      transition: transform 0.2s;
    }
    .business-card:hover {
      transform: translateY(-5px);
    }
    .business-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333333;
      margin-bottom: 10px;
    }
    .business-details {
      font-size: 1rem;
      color: #666666;
      margin-bottom: 15px;
    }
    .view-services-btn {
      background-color: #007bff;
      color: #ffffff;
      border-radius: 50px;
      padding: 10px 20px;
    }
    .view-services-btn:hover {
      background-color: #0056b3;
    }
</style>


    {% if messages %}
        {% for message in messages %}
            <div class="alert mt-3">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="container mt-5">
        <div class="row">
          {% for service in services %}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="business-card">
              <h2 class="business-title">{{service.carwash_name}}</h2>
              <p class="business-details"><strong>Owner:</strong> {{service.owner_name}}</p>
              <p class="business-details"><strong>Address:</strong> {{service.address | slice:38}}...</p>
              <p class="business-details"><strong>Phone:</strong> {{service.phone_number}}</p>
              <a href="/view/{{service.sid.id}}"><button class="btn view-services-btn">View Services</button></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
                
{% endblock body %}
