{% extends "serviceProvider/navbar.html" %}
{% block title %}Business Details{% endblock title %}
{% block styles %}

<style>
      .card {
          margin-top: 80px;
          border-radius: 15px;
          transition: transform 0.3s, box-shadow 0.3s;
      }
      .card:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }
      .card-title {
          font-size: 1.25rem;
          font-weight: bold;
      }
      .card-subtitle {
          font-size: 1rem;
          margin-bottom: 10px;
      }
      .card-text {
          font-size: 0.9rem;
      }
  </style>


{% endblock styles %}
{% block body %}
<div class="container mt-5">
      <div class="row">
        {% if not details %}
                        <p class="card-text text-danger"> <strong>you have not added Business yet please add Business details</strong></p>
                      {% endif %}
          {% for detail in details %}

            
        
          <div class="col-md-4 mb-4">
              <div class="card shadow-sm h-100">
                  <div class="card-body">
                      <h5 class="card-title text-primary">{{ detail.carwash_name }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ detail.owner_name }}</h6>
                      <p class="card-text"><strong>Phone 1:</strong> {{ detail.phone_number }}</p>
                      <p class="card-text"><strong>Address:</strong> {{ detail.address }}</p>
                      
                      <h3>Services:</h3>
                      <ul>
           
                {% for service in services %}
                    <li>{{ service.name }} - &#x20b9 {{ service.price }}</li>
                              
                {% endfor %}
                      </ul>
                      {% if not services %}
                        <p class="card-text text-danger"> <strong>you have not added services yet please add services</strong></p>
                      {% endif %}
                      {% if details.is_verified %}
                      <p class="card-text text-success"><strong>Verified</strong></p>
                      {% else %}
                      <p class="card-text text-danger"><strong>Not verified</strong></p>
                      {% endif %}
                      <a href="/provider/update-info" class="card-link btn btn-outline-primary btn-sm">Update information</a>
                      <a href="#" class="card-link btn btn-outline-secondary btn-sm">Contact</a>
                  </div>
              </div>
          </div>

          {% endfor %}
      </div>
  </div>





{% endblock body %}